{% extends 'base.html.twig' %}

{% block title %}Transaction index{% endblock %}

{% block body %}
    <h1>Income</h1>

    <table class="table">
        <thead>
            <tr>
                <th>From</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
        {% for transaction in transactions_recipient %}
            <tr>
                <td>{{ transaction.source.number }}</td>
                <td>{{ transaction.ammount }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <h1>Expenses</h1>

    <table class="table">
        <thead>
        <tr>
            <th>To</th>
            <th>Amount</th>
        </tr>
        </thead>
        <tbody>
        {% for transaction in transactions_source %}
            <tr>
                <td>{{ transaction.recipient.number }}</td>
                <td>{{ transaction.ammount }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('app_dashboard') }}">back to list</a>
{% endblock %}
